.container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

#grid {
  position: relative;
  height: 630px;
  width: 600px;
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(18, 1fr);
  justify-items: center;
  align-items: center;
}

.square {
  height: 35px;
  width: 35px;
  background-size: 40px;
  background-repeat: no-repeat;
}

.alien {
  background-image: url('images/space_invaders.png');
  background-size: 30px;
}

.player {
  background-image: url('images/laser_cannon.webp');
  background-size: 35px;
}

.bullet {
  height: 20px;
  width: 4px;
  background-color: #f36f21;
}

.explosion {
  background-image: url('images/explosion.png');
}